.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: transform 0.2s;
  height: 100%;
  background-color: transparent;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.card-id, .card-title {
  margin: 0;
}

.types {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.type-badge {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  text-transform: capitalize;
}