.detail-page {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.pokemon-info {
  text-align: center;
}

.pokemon-image {
  max-width: 200px;
  margin-bottom: 20px;
}

.types {
  display: flex;
  justify-content: center;
}

.stats {
  margin-top: 20px;
}

.like-icon {
  cursor: pointer;
  font-size: 2rem;
}
