.App {
  min-height: 100vh;
  background-image: url('./assets/pokeball_bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white;

}

body {
  margin: 0; 
}