.home-page {
  text-align: center;
}

.logo {
  height: 50px;
  margin-bottom: 20px;
}

.search-input {
  margin-bottom: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}
